{%  extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <form id="data-form" action="" enctype="multipart/form-data" method="POST" class="settings-form form-row" style="">
        <div class="form-group">
            <h2>bot settings</h2>
            {% csrf_token %}
            {% bootstrap_form sdc_settings_form %}
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>

        <div class="form-group">
            <h2>Generated Commands Settings</h2>
            {% csrf_token %}
            {% bootstrap_form bot_settings_form %}
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </form>

    <h2>Server Settings</h2>

    <ul id="server-list">
       {% for server in server_list %}
          <li><a href="/settings/s/{{ server.discord_guild_id }}"> {{ server.discord_guild_id }} </a></li>
       {% endfor %}
    </ul>
{% endblock %}