#page-content {
    margin: 8px 16px;
}

.form-group {
    display: inline-block;
}
.form-row {
    margin: 12px;
    padding: 0px;
}
.form-group button {
    display: block;
}

.code {
    white-space: pre-wrap;
}